body{
    background-color: #eee4e4;
    font-family: "Comic Sans MS", serif;
}
.front-element{
    background-color: white;
    margin: auto;
    width: 90%;
    border: solid #9b9191 1px;
    border-radius: 20px;
}

.front-element > * {
    margin: 0px 0px 0px 20px;
}
.submit-button, .cancel-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover, .cancel-button:hover {
    background-color: #0056b3;
}
.submit-button:disabled {
    background-color: #ccc; /* Change the background color */
    cursor: not-allowed; /* Change the cursor */
}
.submit-button:disabled:hover {
    background-color: #ccc; /* Change the background color */
}